<%- include('../partials/header') %>

<h2>Search for Recipes</h2>
<form id="search-form" method="POST" action="/recipes">
  <label>Recipe Name</label>
  <input type="text" name="name">
  <label>Dish Type</label>
  <input type="text" name="dishType">
  <label>Cuisine</label>
  <input type="text" name="cuisine">
  <label>Health Type</label>
  <input type="text" name="healthType">
  <label>Diet Type</label>
  <input type="text" name="dietType">
  <label>Ingredients</label>
  <select name="ingredients" id="dropdown">
    <% ingredients.forEach(function(i) { %>
      <option value="<%= i.name %>"><%= i.name %></option>
    <% }) %>
  </select>
  <input type="submit" value="Search">
  <label></label>
  <textarea name="ingredients" id="textField"></textarea>
</form>

<script>
  // Get references to the dropdown and text field elements
  let dropdown = document.getElementById('dropdown');
  let textField = document.getElementById('textField');

  // Add an event listener to the dropdown for the change event
  dropdown.addEventListener('change', function() {
    // Get the selected option value
    let selectedOption = dropdown.value;

    // Set the selected option value in the text field
    textField.value += selectedOption + ", ";
  });
</script>

<%- include('../partials/footer') %>