<%- include('../partials/header') %>

<h2>New Recipe</h2>
<form id="new-form" action="/recipes" method="POST">
  <label>Recipe Name</label>
  <input type="text" name="name">
  <label>Dish Type</label>
  <input type="text" name="dishType">
  <label>Cuisine</label>
  <input type="text" name="cuisine">
  <label>Health Type</label>
  <input type="text" name="healthType">
  <label>Diet Type</label>
  <input type="text" name="dietType">
  <label>Ingredients</label>
  <select name="ingredients">
    <option disabled selected>Add Ingredient</option>
  </select>
  <label>OR</label>
  <input type="text" name="ingredients" placeholder="(separate ingredients by commas)">
  <label>Method</label>
  <textarea name="method"></textarea>
  <input type="submit" value="Add Recipe">
</form>

<p><%- errorMsg %></p>

<%- include('../partials/footer') %>